@use 'variables' as v;

.dark-mode {
    background-color: darken(v.$grisOscuro, 10);

    p, td {
        color: v.$blanco;
    }

    h1,
    h2,
    h3,
    h4,
    a {
        color: v.$gris;
    }

    .anuncio {
        background-color: v.$grisOscuro;
        border: 1px solid v.$grisOscuro;
    }

    .anuncio,
    .resumen-propiedad {
        .precio {
            color: v.$verde;
        }

        .icono {
            filter: invert(100%);
        }
    }

    .nosotros-texto blockquote {
        color: v.$blanco;
    }

    .formulario {

        label,
        legend,
        p {
            color: v.$gris;
        }

        input:not([type="submit"]),
        textarea,
        select {
            background-color: v.$grisOscuro;
            border: 1px solid v.$grisOscuro;
            color: v.$blanco;
        }
    }
}